/*********************/
/*     RESET CSS     */
/*********************/
body, h1, h2, h3, fieldset {
    margin: 0;
}
fieldset, button {
    padding: 0;
}
button {
    cursor: pointer;
}


/*********************/
/*      GLOBAL       */
/*********************/
:root {
    --color-main: #252f39;
    --color-sub: #c8cbcd;
    --color-main-snd: #753d2c;
    --color-sub-snd: #352539;
    --color-main-thd: #2c2e31;
    --font-main: 'Roboto', arial, sans-serif;
    --font-sub: 'Mina', Arial, sans-serif;
}
html {
    font-family: var(--font-main);
    font-size: 62.5%;
    color: var(--color-sub);
    background: var(--color-main);
}
body {
    display: grid;
    grid-template: 'h' 100px
                   'm' minmax(300px, 1fr)
                   'f' 100px
                    / 100%;
    min-height: 100vh;
    font-size: 1.4rem;
}
.btn {
    display: inline-block;
    padding: 10px;
    border: 1px solid var(--color-main-snd);
    border-radius: 5px;
    color: var(--color-sub);
    background: var(--color-main-snd);
    transition: all ease-in .2s;
}
.btn:hover {
    border-color: var(--color-sub);
    background: var(--color-sub-snd);
}
a.btn {
    text-decoration: none;
}


/*********************/
/*      HEADER       */
/*********************/
.site-header {
    box-sizing: border-box;
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100%;
    font-family: var(--font-sub);
}
.header-logo {
    color: var(--color-sub);;
    text-decoration: none;
    font-size: 2rem;
}
.header-logo img {
    vertical-align: middle;
    margin-right: 10px;
}


/*********************/
/*      MAIN         */
/*********************/
.site-main {
    grid-area: m;
    background: var(--color-sub);
    color: var(--color-main-thd);
}
.site-title {
    margin-top: 60px;
    font-family: var(--font-sub);
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
}
.site-title::after {
    content: '';
    display: block;
    margin: 10px auto 40px;
    width: 60px;
    height: 2px;
    background: var(--color-main);
}
.site-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-sub-snd);
    font-weight: normal;
    font-family: var(--font-sub);
    font-size: 1.8rem;
}

/* HOME */
.home {
    background: url(../img/background.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-wrapper {
    padding: 20px;
    background: rgba(37, 47, 57, .8);
    text-align: center;
}
.home-title {
    margin-bottom: 20px;
    color: var(--color-sub);
    font-family: var(--font-sub);
    font-weight: normal;
    font-size: 4rem;
}

/* TEAMS */
.page::before {
    content: '';
    display: block;
    height: 200px;
    background: url(../img/background.jpg) top/cover no-repeat fixed;
}
.site-section {
    margin: 40px auto;
    padding: 10px;
    max-width: 940px;
}
.form-title, .form-grouptitle {
    font-family: var(--font-sub);
    color: var(--color-main);
}
.form-fieldset {
    margin-bottom: 20px;
    border: 0;
}
.form-grouptitle {
    font-size: 2rem;
}
.form-label {
    display: block;
    margin-bottom: 10px;
}
.form-field {
    box-sizing: border-box;
    border: 1px solid #a6b2bd;
    padding: 0 10px;
    height: 40px;
    width: 100%;
}

/* FICHT */
.action {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255,255,255,.5);
}
.action-btn {
    display: flex;
    align-items: center;
    border: 0;
    width: 100%;
    -webkit-appearance: none;
    font-size: 1.4rem;
    font-family: var(--font-main);
}
.action-btn strong {
    margin: 0 4px;
}
.action-btn::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-width: 10px 5px 0;
    border-style: solid;
    border-color: var(--color-main) transparent;
    transition: all ease-in .2s;
}
.action-id {
    margin-right: 6px;
    padding: 10px;
    width: 80px;
    text-transform: uppercase;
    font-size: 1.2rem;
    background: var(--color-main);
    color: var(--color-sub);
}
.action-state {
    display: inline-block;
    margin-left: 6px;
    padding: 5px;
    font-size: 1.2rem;
    color: var(--color-sub);
    background: var(--color-main-snd);
}
.action-content {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.action-dammage {
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid var(--color-sub-snd);
}
.list-characters {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.list-characters th, .list-characters td {
    padding: 10px;
    border: 1px solid var(--color-sub-snd);
}
.list-characters th {
    color: var(--color-sub);
    background: var(--color-sub-snd);
}
.action-dammage {
    color: var(--color-main-snd);
}
.open .action-content {
    display: flex;
}
.open .action-btn::after {
    transform: rotate(180deg);
}
.victory, .defeat {
    padding: 20px;
    background: rgba(255,255,255,.5);
}
.victory h3, .defeat h3 {
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-sub);
}
.victory h3 {
    color: #1c8f13;
}
.defeat h3 {
    color: #8f2113;
}
.victory p, .defeat p {
    columns: 2;
    column-gap: 10px;
}


/*********************/
/*      FOOTER       */
/*********************/
.site-footer {
    grid-area: f;
    padding: 10px;
    text-align: center;
}
.site-footer a {
    color: var(--color-sub);
}
.site-footer a:hover {
    text-decoration: none;
}

/*********************/
/*      MEDIAS       */
/*********************/
@media (min-width: 450px) {
    .form-fieldset, .form-submit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-grouptitle {
        width: 100%;
    }
    .form-group {
        width: calc(50% - 5px);
    }
}
@media (max-width: 599px) {
    .action-content {
        flex-direction: column;
    }
    .action-characters {
        width: 100%;
    }
}
@media (min-width: 600px) {
    .action-characters {
        width: calc(50% - 5px);
    }
}
@media (min-width: 800px) {
    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-section {
        width: calc(50% - 10px);
    }
    .form-submit {
        width: 100%;
    }
}